<div class="catalogos">
  <div class="catalogos-banner">
    <h3>Descarga Nuestros Catalogos</h3>
  </div>
  <div class="catalogos-content">
    <%= image_tag 'rmlogo.png' %>
    <div class="catalogos-botones">
      <button class="catalogo">Brochure-R&M<i class="fas fa-arrow-alt-circle-down"></i></button>
      <button class="catalogo">Linea de Productos<i class="fas fa-arrow-alt-circle-down"></i></button>
      <button class="catalogo">Spacemaster SX<i class="fas fa-arrow-alt-circle-down"></i></button>
      <button class="catalogo">Spacemaster SXL<i class="fas fa-arrow-alt-circle-down"></i></button>
    </div>
  </div>
  <div class="catalogos-content">
    <h5>Catálogos Black Bear</h5>
    <button class="catalogo">Air Chain Host<i class="fas fa-arrow-alt-circle-down"></i></button>
    <button class="catalogo">Hand Chain & Lever Hoist<i class="fas fa-arrow-alt-circle-down"></i></button>
    <button class="catalogo">Electric Chain Hoist<i class="fas fa-arrow-alt-circle-down"></i></button>
    <button class="catalogo">Electric Chain Hoist NHD<i class="fas fa-arrow-alt-circle-down"></i></button>
  </div>
  <div class="catalogos-content">
    <h5>Catálogos Conductix</h5>
    <button class="catalogo">Energy & Data Transmission Systems<i class="fas fa-arrow-alt-circle-down"></i></button>
    <button class="catalogo">Spring Driven Cable Reels<i class="fas fa-arrow-alt-circle-down"></i></button>
    <button class="catalogo">Conductor Bar<i class="fas fa-arrow-alt-circle-down"></i></button>
    <button class="catalogo">Cable Festoon Systems<i class="fas fa-arrow-alt-circle-down"></i></button>
    <button class="catalogo">Push Button Pendants<i class="fas fa-arrow-alt-circle-down"></i></button>
    <button class="catalogo">Saga Radio Remote Controls<i class="fas fa-arrow-alt-circle-down"></i></button>
    <button class="catalogo">Spring Balancers<i class="fas fa-arrow-alt-circle-down"></i></button>
  </div>
</div>
