<div class="contact-us-banner">
  <div class="contact-us-container">
    <div class="contact-contactanos">
      <h1 class="no-margin">Contactanos</h1>
      <p>Para informarcion general escribanos a info@colcranes.com </p>
    </div>
    <div class="contact-us-form-wrapper">
      <div class="contact-us-form">
        <div class="contact-form-left">
          <%= simple_form_for :send_email, url: send_email_path, method: :get do |f| %>
            <h2>Envianos un Mensaje</h2>
            <div class="contact-form-middle">
              <div class="input-field contacts_name">
                <input class="form-control string required contact-form-name contact-form-input" type="text" name="contacts[name]" id="contacts_name">
                <label id="contacts_name" class="label-contact-name" for="contacts_name">Primer Nombre y Apellido</label>
              </div>
              <div class="input-field contacts_email">
                <input class="form-control string email required contact-form-email contact-form-input" type="email" name="contacts[email]" id="contacts_email">
                <label id="contacts_email" class="label-contact-email" for="contacts_email">Direccion de Correo</label>
              </div>
              <div class="input-field contacts_message">
                <textarea class="form-control text required contact-form-message contact-form-input materialize-textarea" name="contacts[message]" id="contacts_message"></textarea>
                <label id="contacts_message" class="label-contact-message" for="contacts_message">Mensaje</label>
              </div>
            </div>
            <%= f.button :button, type: :submit,  class: "contact-form-button" do %>
              <%= image_tag "send.png", class: "contact-form-button-image" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="contact-us-form-info">
        <h1 class="no-margin">Informacion</h1>
        <div class="form-info-container">
          <div class="form-info-content" style="align-items: center;">
            <i  style="height: 33%;" class="fas fa-map-pin form-info-icon"></i>
            <i  style="height: 33%; display: flex; align-items: center;" class="fas fa-phone form-info-icon"></i>
            <i  style="height: 33%; display: flex; align-items: flex-end;" class="fas fa-envelope form-info-icon"></i>
          </div>
          <div class="form-info-content" style="margin-left: 5px;">
            <p style="height: 33%;" >Carrera 67 # 40 -62 piso 3 Barranquilla - Colombia</p>
            <p style="height: 33%; display: flex; align-items: center;" >+57 310 704 3333</p>
            <p style="height: 33%; display: flex; align-items: flex-end;" >ventas@colcranes.com</p>
          </div>
        </div>
        <div class="contact-form-social-links">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-linkedin"></i>
        </div>
      </div>
    </div>
    <div class="contact-info">
      <div>
        <p><span><i class="fas fa-phone form-info-icon form-phone-icon"></i> </span>Contabilidad: +57 321 815 0272</p>
      </div>
      <div>
        <p><span><i class="fas fa-phone form-info-icon form-phone-icon"></i> </span>Ventas: +57 310 704 3333</p>
      </div>
      <div>
        <p><span><i class="fas fa-phone form-info-icon form-phone-icon"></i> </span>Soporte: +57 314 507 3092</p>
      </div>
    </div>
  </div>
</div>
