<div class="services-banner" style="background-image: url('<%= asset_url 'squares-banner.png' %>')">
  <div class="container">
    <div class="service-banner-text">
      <h1>Productos</h1>
      <p>Descargue nuestro catálogo para ver toda la gama de nuestro producto..</p>
      <%= link_to 'DESCARGAR CATALOGO', download_pdf_path, class: "products-banner-button" %>
    </div>
    <%= image_tag 'hanging-crane.png', class: "hanging-crane" %>
  </div>
</div>
