<div class="services-banner" style="background-image: url('<%= asset_url 'squares-banner.png' %>')">
  <div class="container">
    <div class="service-banner-text">
      <h1>Servicios</h1>
      <p>En Colcranes nuestro objetivo es brindarle servicios de primera clase y mantenimiento.</p>
    </div>
    <%= image_tag 'hanging-crane.png', class: "hanging-crane" %>
  </div>
</div>
<div class="services-wrapper">
  <div class="container">
    <div class="services-container">
      <div class="services-list">
        <div class="services-list-item">
          <div class="services-list-item-number">
            <div class="services-list-item-number-top">
              <h1>1</h1>
            </div>
            <div class="services-list-item-number-bottom">
            <p>SERVICIOS</p>
            </div>
          </div>
          <div class="services-list-item-text">
            <h2>Inspecciones y diagnósticos</h2>
            <p>Nuestras inspecciones buscan maximizar el tiempo productivo y minimizar el impacto operativo. Los servicios incluye el diagnóstico avanzado, la inspección de la grúa, la evaluación de componentes críticos, monitoreo remoto etc. al final de la inspección se entrega un informe que le permitirá tener trazabilidad del equipo.</p>
          </div>
        </div>
        <div class="services-list-item">
          <div class="services-list-item-number">
            <div class="services-list-item-number-top">
              <h1>2</h1>
            </div>
            <div class="services-list-item-number-bottom">
            <p>SERVICIOS</p>
            </div>
          </div>
          <div class="services-list-item-text">
            <h2>Mantenimientos preventivos y correctivos</h2>
            <p>Nuestros mantenimientos preventivos y correctivos permiten evaluar la condición de sus equipos, identificando las oportunidades y hacer las respectivas recomendaciones para que su equipo tenga el desempeño y confiabilidad que su empresa y empleados necesitan.</p>
          </div>
        </div>
        <div class="services-list-item">
          <div class="services-list-item-number">
            <div class="services-list-item-number-top">
              <h1>3</h1>
            </div>
            <div class="services-list-item-number-bottom">
            <p>SERVICIOS</p>
            </div>
          </div>
          <div class="services-list-item-text">
            <h2>Capacitación y certificación de personal</h2>
            <p>ofrecemos Capacitaciones a los operadores para que puedan prevenir accidentes y mejorar la operación del Puente grúa. Tambien contamos con talleres de certificacion segun la norma NACB Y ONAC.</p>
          </div>
        </div>
        <div class="services-list-item">
          <div class="services-list-item-number">
            <div class="services-list-item-number-top">
              <h1>4</h1>
            </div>
            <div class="services-list-item-number-bottom">
            <p>SERVICIOS</p>
            </div>
          </div>
          <div class="services-list-item-text">
            <h2>Servicios de modernizacion</h2>
            <p>Actualización de tableros, variadores , motores, Aumentos de capacidad y velocidad de operación, controles eléctricos, mayor seguridad en la operación, etc.</p>
          </div>
        </div>
      </div>
      <div class="services-image-container" style="background-image: url('<%= asset_path 'services-image.png'  %>')">
        <%#= image_tag 'services-image.png', class: "services-image" %>
      </div>
    </div>
    <h1>Servicios Estables</h1>
  </div>
</div>
