<div class="services-banner" style="background-image: url('<%= asset_url 'squares-banner.png' %>')">
  <div class="container">
    <div class="service-banner-text">
      <h1>Servicios</h1>
      <p>En Colcranes nuestro objetivo es brindarle servicios de primera clase y mantenimiento.</p>
    </div>
    <%= image_tag 'hanging-crane.png', class: "hanging-crane" %>
  </div>
</div>
<div class="services-wrapper">
  <div class="container">
    <div class="services-container">
      <div class="services-list">
        <div class="services-list-item">
          <div class="services-list-item-number">
            <div class="services-list-item-number-top">
              <h1>1</h1>
            </div>
            <div class="services-list-item-number-bottom">
            <p>SERVICIOS</p>
            </div>
          </div>
          <div class="services-list-item-text">
            <h2>Mantenimiento anual de grúa</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
          </div>
        </div>
        <div class="services-list-item">
          <div class="services-list-item-number">
            <div class="services-list-item-number-top">
              <h1>2</h1>
            </div>
            <div class="services-list-item-number-bottom">
            <p>SERVICIOS</p>
            </div>
          </div>
          <div class="services-list-item-text">
            <h2>Inspecciones</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
          </div>
        </div>
        <div class="services-list-item">
          <div class="services-list-item-number">
            <div class="services-list-item-number-top">
              <h1>3</h1>
            </div>
            <div class="services-list-item-number-bottom">
            <p>SERVICIOS</p>
            </div>
          </div>
          <div class="services-list-item-text">
            <h2>Mantenimiento de piezas</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
          </div>
        </div>
        <div class="services-list-item">
          <div class="services-list-item-number">
            <div class="services-list-item-number-top">
              <h1>4</h1>
            </div>
            <div class="services-list-item-number-bottom">
            <p>SERVICIOS</p>
            </div>
          </div>
          <div class="services-list-item-text">
            <h2>Instalaciones</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
          </div>
        </div>
        <div class="services-list-item">
          <div class="services-list-item-number">
            <div class="services-list-item-number-top">
              <h1>5</h1>
            </div>
            <div class="services-list-item-number-bottom">
            <p>SERVICIOS</p>
            </div>
          </div>
          <div class="services-list-item-text">
            <h2>Servicios de elevación</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
          </div>
        </div>
      </div>
      <div class="services-image-container">
        <%= image_tag 'services-image.png', class: "services-image" %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <%= image_tag 'colcranes-line-break.png', class: "colcranes-line-break" %>
</div>
<div class="container">
  <h1 class="services-nuestro-title">Nuestro Proceso</h1>
</div>

