.card-container {
  position: relative;
  width: 700px;
  height: 225px;
  @media only screen and (max-width: 1200px) {
    width: 600px;
  }
  @media only screen and (max-width: 1200px) {
    width: 550px;
  }
  @media only screen and (max-width: 768px) {
    width: 500px;
  }
  @media only screen and (max-width: 576px) {
    width: 300px;
  }
}

.bottom-card-section {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 600px;
  height: 175px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.25);
  overflow: hidden;
  @media only screen and (max-width: 1200px) {
    width: 500px;
  }
  @media only screen and (max-width: 992px) {
    width: 450px;
  }
  @media only screen and (max-width: 576px) {
    width: 250px;
  }
}

.top-card-section {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 600px;
  height: 175px;
  border: 5px solid #fff;
  z-index: 5;
  background: linear-gradient(to right, #1896D6, #1582B9);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.25);
  overflow: hidden;
  @media only screen and (max-width: 1200px) {
    width: 500px;
  }
  @media only screen and (max-width: 992px) {
    width: 450px;
  }
  @media only screen and (max-width: 576px) {
    width: 250px;
  }
}

.card-background-1 {
  height: 150px;
  position: absolute;
  left: 0;
  bottom: 0;
  @media only screen and (max-width: 1200px) {
    height: 125px;
  }
  @media only screen and (max-width: 768px) {
    height: 100px;
  }
  @media only screen and (max-width: 576px) {
    height: 60px;
  }
}

.background-background {
  position: absolute;
  height: 100%;
  left: 0;
  @media only screen and (max-width: 576px) {
    width: 140%;
  }
}

.background-background-productos {
  position: absolute;
  bottom: 3px;
  left: 5px;
  margin: 0;
  z-index: 10;
  font-size: 14px;
  font-weight: bold;
  @media only screen and (max-width: 576px) {
    font-size: 12px;
  }
}

.new-card-background {
  height: 100%;
  position: absolute;
  right: 0;
  @media only screen and (max-width: 576px) {
    width: 140%;
  }
}

.card-title-holder {
  position: absolute;
  min-width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30px;
  left: 0;
  background: #fff;
  border-radius: 0 5px 5px 0;
  padding: 5px 0;
  z-index: 10;
  @media only screen and (max-width: 768px) {
    min-width: 170px;
  }
  @media only screen and (max-width: 576px) {
    min-width: 130px;
    height: 40px;
  }
}

.card-title-holder-no-sub {
  top: calc(50% - 25px) !important;
  @media only screen and (max-width: 576px) {
    top: calc(50% - 20px) !important;
  }
}

.card-title {
  margin: 0;
  color: #777171;
  font-weight: lighter;
  font-size: 18px;
  padding: 0 10px;
  @media only screen and (max-width: 768px) {
    font-size: 16px;
  }
  @media only screen and (max-width: 576px) {
    font-size: 14px;
  }
}

.card-sub-title-holder {
  position: absolute;
  bottom: 0;
  right: 20px;

}

.card-sub-title {
  width: 400px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #1788C2;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: lighter;
  @media only screen and (max-width: 1200px) {
    width: 250px;
  }
  @media only screen and (max-width: 992px) {
    margin: 0 0 5px 0;
  }
  @media only screen and (max-width: 576px) {
    width: 130px;
  }
}
