.footer {
  height: 200px;
  background: #3498DC;
  padding: 20px 40px;

  @include for-phone-only {
    height: 300px;
  }
}

.footer-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  @media only screen and (max-width: 576px) {
    display: none;
  }
}

.foter-info-container-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media only screen and (min-width: 576px) {
    display: none;
  }
  p {
    margin: 5px 0;
    color: white;
    font-size: 14px;
    font-weight: lighter;
  }

  & img {
    margin-bottom: 20px;
  }

  a {
    color: white;
  }
}

.footer-info {
  display: flex;
  align-items: center;
  text-align: center;
  p {
    margin: 0;
    color: white;
    font-weight: 300;
  }
}

.footer-info-header {
  border-bottom: 0.1px solid #6CB9DA;
  padding-bottom: 3px;
  margin-bottom: 3px !important;
}

.seo {
  height: 35px;
  background: #2C83BE;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
    color: white;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
  }
  a {
    color: white;
    font-size: 14px;
    text-decoration: none;
  }
}

.footer-logo img {
  width: 250px;
  @media only screen and (max-width: 768px) {
    width: 200px;
  }
  @media only screen and (max-width: 576px) {
    width: 170px;
  }
}

.paginas {
   margin-right: 40px;
}
